@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #8cccff;
  --color-secondary: #376488;
  --transition: 0.3s all linear;
  --color-white: #fff;
  --box-shadow-color: 0 15px 25px rgba(0, 0, 0, 0.15);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.btn {
  border: 1px solid transparent;
  outline: transparent;
  background-color: transparent;
  cursor: pointer;
  transition: var(--transition);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-color);
}
.main {
  overflow: hidden;
  max-height: 600px;
  position: relative;
}
.box {
  padding: 1rem 1rem;
  width: 330px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.input-box {
  position: relative;
  width: 100%;
  background-color: var(--color-white);
  padding: 5px;
  border-radius: 8px;
  box-shadow: var(--box-shadow-color);
  margin-bottom: 2rem;
}
.input-box input {
  position: relative;
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 5px;
}
.input-box .toggle-btn {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle-btn::before {
  content: "\f06e";

  font-family: "fontAwesome";
}
.toggle-btn.hide::before {
  content: "\f070";

  font-family: "fontAwesome";
}
.validation {
  background-color: var(--color-secondary);
  padding: 10px;
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: var(--box-shadow-color);
}
.validation ul {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.validation li {
  position: relative;
  list-style: none;
  color: var(--color-white);
  font-size: 0.85rem;
  transition: 0.5s;
}
.validation li.valid {
  color: rgba(255, 255, 255, 0, 5);
}
.validation li::before {
  content: "\f192";
  font-family: "fontAwesome";
  width: 20px;
  height: 10px;
  display: inline-flex;
}

.validation li.valid::before {
  content: "\f00c";
  font-family: "fontAwesome";
  color: #0f0;
}

.more-actions {
  margin-top: 5rem;
  text-align: start;
}
.more-actions a {
  color: blue;
  cursor: pointer;
  padding-left: 1rem;
  transition: var(--transition);
}
.more-actions button {
  display: block;
  width: 100%;
}
.more-actions a:hover {
  color: #ff1744;
}

.btn-primary {
  background-color: var(--color-secondary);
  color: var(--color-white);
  box-shadow: var(--box-shadow-color);
  padding: 1rem 1.3rem;
  border-radius: 1.2rem;
}

#submit-btn {
  margin-top: 1rem;
}

.signup-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media screen and (max-width: 767px) {
  .signup-form {
    grid-template-columns: 1fr;
  }
}

#sign-up {
  margin-top: 2.6rem;
  position: absolute;
  background-color: var(--main-color);
  top: -200px;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
}
#sign-up.active {
  visibility: visible;
  opacity: 1;
  top: 0;
}
#sign-in.disabled {
  visibility: hidden;
  transition: var(--transition);
}
.signup-show {
  padding: 1.2rem 1.5rem;
  background-color: #ff1744;
  color: var(--color-white);
}
